<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>@ViewData["Title"] - MyWritingPlatform</title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="~/css/zerogrid.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href='~/image/favicon.ico' rel='icon' type='image/x-icon' />

</head>
<body>
    <div class="wrap-body">
        <!--------------Header--------------->
        <header>
            <div class="wrap-header zerogrid">
                <div id="logo"><a asp-controller="Home" asp-action="Index"><img src="~/image/LogoPlatform.jpg" /></a></div>
                <nav>
                    <div class="wrap-nav">
                        <div class="menu">
                            <ul>
                                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="blog.html">About</a></li>
                                <li><a href="https://www.zerotheme.com">Contact</a></li>
                                <partial name="_LoginPartialUser" />
                            </ul>

                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <section id="content">
            <div class="wrap-content zerogrid">
                @RenderBody()
            </div>
        </section>
        <!--------------Footer--------------->
        <footer>
            <div class="wrap-footer zerogrid">
                <div class="row">
                    <div class="col-1-3">
                        <div class="wrap-col">
                            <div class="box">
                                <div class="heading"><h4 class="title">Image Gallery</h4></div>
                                <div class="content gallery">
                                    <a href="#"><img src="~/image/img5.jpg" width="120" /></a><a href="#"><img src="~/image/img4.jpg" width="120" /></a>
                                    <a href="#"><img src="~/image/img3.jpg" width="120" /></a><a href="#"><img src="~/image/img2.jpg" width="120" /></a>
                                    <a href="#"><img src="~/image/img1.jpg" width="120" /></a><a href="#"><img src="~/image/img4.jpg" width="120" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-1-3">
                        <div class="wrap-col">
                            <div class="box">
                                <div class="heading"><h4 class="title">About Us</h4></div>
                                <div class="content">
                                    <a href="https://www.zerotheme.com" target="_blank"><img src="~/image/zerotheme.png" style="border: 0px; margin: 10px 0;" /></a>
                                    <p>
                                        <a href="https://www.zerotheme.com" target="_blank">Free Html5 Templates</a> created by <a href="https://www.zerotheme.com">ZEROTHEME</a>.
                                        You can use and modify the template for both personal and commercial use. You must keep all copyright information and credit links in the
                                        template and associated files.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-1-3">
                        <div class="wrap-col">
                            <div class="box">
                                <div class="heading"><h4 class="title">Contact Us</h4></div>
                                <div class="content">
                                    <p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas.</p>
                                    <p>Website : <a href="https://www.zerotheme.com" target="_blank">www.zerotheme.com</a></p>
                                    <p>+1 (123) 444-5677 <br /> +1 (123) 444-5678</p>
                                    <p>Address: 123 TemplateAccess Rd1</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <p>Copyright © 2012 - Designed by <a href="https://www.zerotheme.com">ZEROTHEME</a></p>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/css3-mediaqueries.js"></script>
        <script src="~/js/html5.js"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>
</html>
