@model string

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-md-4 g-4">
    <div asp-validation-summary="All" class="text-danger"></div>

    <form class="needs-validation" novalidate asp-action="Create" method="post">
        <div class="form-group">
            <label for="name">Создаем новую роль</label>
            <input name="name" class="form-control" placeholder="User" required />
        </div>
        <button type="submit" class="btn btn-primary" style="border-radius:8px;">Добавить</button>
    </form>
</div>

<div>
    <a asp-action="Index" style="margin-left:10px;">Back to List</a>
</div>
