@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Header-->
<header class="masthead" style="background-image: url('../assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>The Writing Platform</h1>
                    <span class="subheading">A Blog Writing Platform</span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="d-flex flex-row justify-content-around">
    <div>
        <div class="dropdown">
            <button class="btn btn-info dropdown-toggle" style="border-radius:8px;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Поиск по Тегу
            </button>
            <ul id="tags" class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Действие</a></li>
                <li><a class="dropdown-item" href="#">Другое действие</a></li>
                <li><a class="dropdown-item" href="#">Что-то еще здесь</a></li>
            </ul>
        </div>
    </div>
    <div>
        <div class="dropdown">
            <button class="btn btn-info dropdown-toggle" style="border-radius:8px;" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                Посик по Категории
            </button>
            <ul id="categories" class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                <li><a class="dropdown-item" href="#">Действие</a></li>
                <li><a class="dropdown-item" href="#">Другое действие</a></li>
                <li><a class="dropdown-item" href="#">Что-то еще здесь</a></li>
            </ul>
        </div>
    </div>
</div>
<br />
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div id="block1" class="row row-cols-2 gx-4 gx-lg-5 justify-content-center">
        
    </div>
    <!-- Pager-->
    <div class="d-flex flex-row justify-content-between">
        <div class="mb-4"><a id="newPost" class="btn btn-primary text-uppercase" style="border-radius:8px; visibility:hidden;" href="#!">← Newer Posts</a></div>
        <div class="mb-4"><a id="oldPost" class="btn btn-primary text-uppercase" style="border-radius:8px;" href="#!">Older Posts →</a></div>
    </div>
</div>

<script>

    //Вывод публикаций согласно поиску по Тэгу
    function findPostsTagsList(json, tag) {
        let jsonTags = [];
        for (let i = 0; i < json.length; i++) {
            for (let j = 0; j < json[i].tags.length; j++) {
                if (json[i].tags[j].name == tag)
                    jsonTags.push(json[i]);
            }
        }
        renderPrintList(jsonTags);
    }

    //Вывод публикаций согласно поиску по Тэгу
    function findPostsCategoryList(json, cats) {
        let jsonCats = [];
        for (let i = 0; i < json.length; i++) {
            if (json[i].category.name == cats)
                jsonCats.push(json[i]);
        }
        renderPrintList(jsonCats);
    }

    //Заполняем списки тэгов и категорий
    function addTagsCategories(json) {

        let ulT = document.getElementById("tags");
        ulT.innerHTML = "";
        for (let i = 0; i < json[0].tagsName.length; i++) {
            let li = document.createElement("li");
            let a = document.createElement("a");
            a.className = "dropdown-item";
            a.value = json[0].tagsName[i];
            a.innerText = json[0].tagsName[i];
            a.style.cursor = "pointer";
            a.onclick = function () {
                findPostsTagsList(json, this.value);
            };
            li.appendChild(a);
            ulT.appendChild(li);
        }

        let ulC = document.getElementById("categories");
        ulC.innerHTML = "";
        for (let i = 0; i < json[0].categoriesName.length; i++) {
            let li = document.createElement("li");
            let a = document.createElement("a");
            a.className = "dropdown-item";
            a.value = json[0].categoriesName[i];
            a.innerText = json[0].categoriesName[i];
            a.style.cursor = "pointer";
            a.onclick = function () {
                findPostsCategoryList(json, this.value);
            };
            li.appendChild(a);
            ulC.appendChild(li);
        }
    }


    //Создание кода пуликаций
    function createHtmlPosts(json) {
        let block1 = document.getElementById("block1");
        block1.innerHTML = "";

        for (let i = 0; i < json.   length; i++) {
            if (json[i].censor == true) {
                let divH = document.createElement("div");
                divH.className = "col";
                let div = document.createElement("div");
                div.className = "post-preview";
                let a1 = document.createElement("a");
                a1.style.cursor = "pointer";
                a1.onclick = function () {
                    sessionStorage.setItem('post', json[i].id);
                    a1.href = "/home/post";
                }
                let img = document.createElement("img");
                img.src = json[i].imgPost;
                img.style = "border-radius: 20px; border: 2px solid #808080; width: 100%;";
                a1.appendChild(img);
                let h2 = document.createElement("h2");
                h2.className = "post-title";
                h2.innerText = json[i].title;
                a1.appendChild(h2);
                let h3 = document.createElement("h3");
                h3.className = "post-subtitle";
                h3.innerText = json[i].shortDescription;
                a1.appendChild(h3);
                let p = document.createElement("p");
                p.className = "post-meta";
                let span0 = document.createElement("span");
                span0.innerText = " Опубликовано ";
                let a2 = document.createElement("a");
                a2.href = "#!";
                a2.innerText = json[i].userName;
                p.appendChild(span0);
                p.appendChild(a2);
                let span1 = document.createElement("span");
                span1.innerText = " от " + json[i].published;
                p.appendChild(span1);
                let img1 = document.createElement("img");
                img1.src = "/image/comment-icon.png";
                img1.style = "width:25px; margin-left:5px; margin-right:5px;";
                p.appendChild(img1);
                let span2 = document.createElement("span");
                span2.innerText = json[i].comCount;
                p.appendChild(span2);
                div.appendChild(a1);
                div.appendChild(p);
                divH.appendChild(div);
                let hr = document.createElement("hr");
                hr.className = "my-4";
                divH.appendChild(hr);

                block1.appendChild(divH);
            }
        }
    }

    //Разбивка массива
    function breakUpArray(json) {
        //Разбить масив на части для вывода на печать
        let size = 8; //размер подмассива
        let subjson = []; //массив в который будет выведен результат.
        for (let i = 0; i < Math.ceil(json.length / size); i++) {
            subjson[i] = json.slice((i * size), (i * size) + size);
        }
        //console.log(subjson);
        return subjson;
    }

    //Вывод публикаций
    function renderPrintList(json) {
        let subjson = breakUpArray(json);

        let oldBtn = document.getElementById("oldPost");
        let newBtn = document.getElementById("newPost");
        let i = 0;
        createHtmlPosts(subjson[i]);
        oldBtn.onclick = function () {
            i++;
            newBtn.style.visibility = "visible";
            createHtmlPosts(subjson[i]);
        }
        newBtn.onclick = function () {
            i--;
            if (i == 0)
                newBtn.style.visibility = "hidden";
            createHtmlPosts(subjson[i]);
        }

    }

    //Заполняем страницу публикациями
    function renderPostsList(json) {
       // console.log("Get From Server: ");
        //console.log(json);

        addTagsCategories(json);

        renderPrintList(json);
    }


    // Выполнение запроса к серверу
    function fetchGetPosts() {

        fetch("/api/posts") // Пошлем запрос GET (по умолчанию) по марштуру на сервер
            .then(response => response.json()) // Преобразуем ответ в json
            .then(json => renderPostsList(json)) // Передадим данные в метод
            .catch((ex) => { // обрабатываем возможную ошибку
                console.log("Error: " + ex.message);
                console.log("Response: " + ex.response);
            });
    }

    fetchGetPosts();
</script>

