@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My Writing Platform</h1>
   <div>
       <img src="/image/PublishingPlatforms.jpg"/>
   </div>
</div>

