@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Header-->
<header class="masthead" style="background-image: url('../assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>The Writing Platform</h1>
                    <span class="subheading">A Blog Writing Platform</span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="d-flex flex-row justify-content-around">
    <div>
        <div class="dropdown">
            <button class="btn btn-info dropdown-toggle" style="border-radius:8px;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Поиск по Тегу
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Действие</a></li>
                <li><a class="dropdown-item" href="#">Другое действие</a></li>
                <li><a class="dropdown-item" href="#">Что-то еще здесь</a></li>
            </ul>
        </div>
    </div>
    <div>
        <div class="dropdown">
            <button class="btn btn-info dropdown-toggle" style="border-radius:8px;" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                Посик по Категории
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                <li><a class="dropdown-item" href="#">Действие</a></li>
                <li><a class="dropdown-item" href="#">Другое действие</a></li>
                <li><a class="dropdown-item" href="#">Что-то еще здесь</a></li>
            </ul>
        </div>
    </div>
</div><br />
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-6">
            <!-- Post preview-->
            <div class="post-preview">
                <a href="post.html">
                    <img src="~/image/070638444.jpg" style="border-radius: 20px; border: 2px solid #808080; width: 100%;" />
                    <h2 class="post-title">Man must explore, and this is exploration at its greatest</h2>
                    <h3 class="post-subtitle">Problems look mighty small from 150 miles up</h3>
                </a>
                <p class="post-meta">
                    Опубликовано
                    <a href="#!">Start Bootstrap</a>
                    от
                    <span id="date">24 сентября 2021 г.</span>
                    <img src="~/image/comment-icon.png" style="width:25px; margin-left:5px; margin-right:5px;" /><span id="comment">10</span>
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Post preview-->
            <div class="post-preview">
                <a href="post.html">
                    <img src="~/image/0_e7ae3_d81b7d27_orig.jpg" style="border-radius: 20px; border: 2px solid #808080; width: 100%;" />
                    <h2 class="post-title">I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.</h2>
                    <h3 class="post-subtitle">Problems look mighty small from 200 miles up</h3>
                </a>
                <p class="post-meta">
                    Опубликовано
                    <a href="#!">Start Bootstrap</a>
                    от
                    <span id="date">24 сентября 2021 г.</span>
                    <img src="~/image/comment-icon.png" style="width:25px; margin-left:5px; margin-right:5px;" /><span id="comment">10</span>
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Post preview-->
            <div class="post-preview">
                <a href="post.html">
                    <img src="~/image/14ff85df1c57269926df3fd5f76f8eaf2ba311aa.jpg" style="border-radius: 20px; border: 2px solid #808080; width: 100%;" />
                    <h2 class="post-title">Science has not yet mastered prophecy</h2>
                    <h3 class="post-subtitle">We predict too much for the next year and yet far too little for the next ten.</h3>
                </a>
                <p class="post-meta">
                    Опубликовано
                    <a href="#!">Start Bootstrap</a>
                    от
                    <span id="date">24 сентября 2021 г.</span>
                    <img src="~/image/comment-icon.png" style="width:25px; margin-left:5px; margin-right:5px;" /><span id="comment">10</span>
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Post preview-->
            <div class="post-preview">
                <a href="post.html">
                    <img src="~/image/070638444.jpg" style="border-radius: 20px; border: 2px solid #808080; width: 100%;" />
                    <h2 class="post-title">Failure is not an option</h2>
                    <h3 class="post-subtitle">Many say exploration is part of our destiny, but it’s actually our duty to future generations.</h3>
                </a>
                <p class="post-meta">
                    Опубликовано
                    <a href="#!">Start Bootstrap</a>
                    от
                    <span id="date">24 сентября 2021 г.</span>
                    <img src="~/image/comment-icon.png" style="width:25px; margin-left:5px; margin-right:5px;" /><span id="comment">10</span>
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
        </div>
        <div class="col-6">
            <!-- Post preview-->
            <div class="post-preview">
                <a href="post.html">
                    <img src="~/image/070638444.jpg" style="border-radius: 20px; border: 2px solid #808080; width: 100%;" />
                    <h2 class="post-title">Man must explore, and this is exploration at its greatest</h2>
                    <h3 class="post-subtitle">Problems look mighty small from 150 miles up</h3>
                </a>
                <p class="post-meta">
                    Опубликовано
                    <a href="#!">Start Bootstrap</a>
                    от
                    <span id="date">24 сентября 2021 г.</span>
                    <img src="~/image/comment-icon.png" style="width:25px; margin-left:5px; margin-right:5px;" /><span id="comment">10</span>
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Post preview-->
            <div class="post-preview">
                <a href="post.html">
                    <img src="~/image/0_e7ae3_d81b7d27_orig.jpg" style="border-radius: 20px; border: 2px solid #808080; width:100%;" />
                    <h2 class="post-title">I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.</h2>
                    <h3 class="post-subtitle">Problems look mighty small from 200 miles up</h3>
                </a>
                <p class="post-meta">
                    Опубликовано
                    <a href="#!">Start Bootstrap</a>
                    от
                    <span id="date">24 сентября 2021 г.</span>
                    <img src="~/image/comment-icon.png" style="width:25px; margin-left:5px; margin-right:5px;" /><span id="comment">10</span>
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Post preview-->
            <div class="post-preview">
                <a href="post.html">
                    <img src="~/image/14ff85df1c57269926df3fd5f76f8eaf2ba311aa.jpg" style="border-radius: 20px; border: 2px solid #808080; width: 100%;" />
                    <h2 class="post-title">Science has not yet mastered prophecy</h2>
                    <h3 class="post-subtitle">We predict too much for the next year and yet far too little for the next ten.</h3>
                </a>
                <p class="post-meta">
                    Опубликовано
                    <a href="#!">Start Bootstrap</a>
                    от
                    <span id="date">24 сентября 2021 г.</span>
                    <img src="~/image/comment-icon.png" style="width:25px; margin-left:5px; margin-right:5px;" /><span id="comment">10</span>
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Post preview-->
            <div class="post-preview">
                <a href="post.html">
                    <img src="~/image/070638444.jpg" style="border-radius: 20px; border: 2px solid #808080; width: 100%;" />
                    <h2 class="post-title">Failure is not an option</h2>
                    <h3 class="post-subtitle">Many say exploration is part of our destiny, but it’s actually our duty to future generations.</h3>
                </a>
                <p class="post-meta">
                    Опубликовано
                    <a href="#!">Start Bootstrap</a>
                    от
                    <span id="date">24 сентября 2021 г.</span>
                    <img src="~/image/comment-icon.png" style="width:25px; margin-left:5px; margin-right:5px;" /><span id="comment">10</span>
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
        </div>
        <!-- Pager-->
        <div class="d-flex flex-row justify-content-between">
            <div class="mb-4"><a class="btn btn-primary text-uppercase" style="border-radius:8px; visibility:hidden;" href="#!">← Newer Posts</a></div>
            <div class="mb-4"><a class="btn btn-primary text-uppercase" style="border-radius:8px;" href="#!">Older Posts →</a></div>
        </div>
        
    </div>
</div>

