
@{
    ViewData["Title"] = "Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Page Header-->
<header id="header" class="masthead">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1 id="title"></h1>
                    <h2 id="short" class="subheading"></h2>
                    <span class="meta">
                        Опубликовано
                        <a id="name" href="#!"></a>
                        от
                        <span id="date"></span>
                        <img src="~/image/comment-icon.png" style="width:25px; margin-left:5px; margin-right:5px;" /><span id="comment"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<h1 style="text-align:center; margin-bottom:30px;">Текст статьи</h1>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div id="text" class="col-md-10 col-lg-8 col-xl-7" style="text-align: justify; text-indent: 20px; font-family: Comic Sans MS, Comic Sans, cursive;">

                <hr />
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="mb-3">
                    <p>
                        <label for="comments" class="form-label fw-bold">Комментарии</label>
                    </p>
                    <textarea class="form-control" id="comments" rows="3" placeholder="Оставьте свой комментарий"></textarea>
                </div>
                <div>
                    <input id="btn" type="submit" style="border-radius:8px; margin-left:545px;" class="btn btn-primary" value="Отправить" />
                </div>
                <hr />
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div id="addComment" class="navbar-nav navbar-nav-scroll">
                    <div class="d-flex flex-row justify-content-center">
                        <div>
                            <img class="rounded-circle mx-auto d-block" src="~/storage/avatars/avatardefault_92824.png" alt="avatar" style="width: 70px;" />
                        </div>
                        <div>
                            <div>
                                <small class="fw-bold fs-4 text">Mikolka09</small>
                                <small class="fst-italic" style="margin-left:20px; color:crimson;">02 августа 2021 г.</small>
                                <hr />
                            </div>
                            <div class="fw-normal text-sm-start fs-6 text lh-1">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="d-flex flex-row justify-content-center">
                        <div>
                            <img class="rounded-circle mx-auto d-block" src="~/storage/avatars/avatardefault_92824.png" alt="avatar" style="width: 70px;" />
                        </div>
                        <div>
                            <div>
                                <small class="fw-bold fs-4 text">Mikolka09</small>
                                <small class="fst-italic" style="margin-left:20px; color:crimson;">02 августа 2021 г.</small>
                                <hr />
                            </div>
                            <div class="fw-normal text-sm-start fs-6 text lh-1">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="d-flex flex-row justify-content-center">
                        <div>
                            <img class="rounded-circle mx-auto d-block" src="~/storage/avatars/avatardefault_92824.png" alt="avatar" style="width: 70px;" />
                        </div>
                        <div>
                            <div>
                                <small class="fw-bold fs-4 text">Mikolka09</small>
                                <small class="fst-italic" style="margin-left:20px; color:crimson;">02 августа 2021 г.</small>
                                <hr />
                            </div>
                            <div class="fw-normal text-sm-start fs-6 text lh-1">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="d-flex flex-row justify-content-start">
                        <div class="">
                            <img class="rounded-circle mx-auto d-block" src="~/storage/avatars/avatardefault_92824.png" alt="avatar" style="width: 70px;" />
                        </div>
                        <div>
                            <div>
                                <small class="fw-bold fs-4 text">Mikolka09</small>
                                <small class="fst-italic" style="margin-left:20px; color:crimson;">02 августа 2021 г.</small>
                                <hr />
                            </div>
                            <div class="fw-normal text-sm-start fs-6 text lh-1">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
            </div>
        </div>
    </div>
</article>


<script>

    //Комментарий
    function serverResponseAddComment(res) {
        console.log("Response Add Comment: ");
        console.log(res);
        createComments(res);
    }

    //Построение вывода комментарий
    function createComments(json) {
        let comment = document.getElementById("addComment");
        comment.innerHTML = "";
        for (let i = 0; i < json.length; i++) {
            let div1 = document.createElement("div");
            div1.className = "d-flex flex-row justify-content-start";
            let div2 = document.createElement("div");
            div2.className = "p-2";
            let img = document.createElement("img");
            img.className = "rounded-circle mx-auto d-block";
            img.style = "width: 70px;";
            img.alt = "avatar";
            img.src = json[i].avatar;
            div2.appendChild(img);
            let div3 = document.createElement("div");
            let div4 = document.createElement("div");
            let small1 = document.createElement("small");
            small1.className = "fw-bold fs-4 text";
            small1.innerText = json[i].userName;
            let small2 = document.createElement("small");
            small2.className = "fst-italic";
            small2.style = "margin-left:20px; color:crimson;";
            small2.innerText = json[i].published;
            div4.appendChild(small1);
            div4.appendChild(small2);
            let div5 = document.createElement("div");
            div5.className = "fw-normal text-sm-start fs-6 text lh-1";
            div5.innerText = json[i].description;
            div3.appendChild(div4);
            div3.appendChild(div5);
            div1.appendChild(div2);
            div1.appendChild(div3);
            comment.appendChild(div1);
            let hr = document.createElement("hr");
            comment.appendChild(hr);
        }
    }


    //Заполняем страницу публикациями
    function renderPostList(json) {
        console.log("Render Post List: ");
        console.log(json);
        document.getElementById("header").style = `background-image: url(${json[0].imgPost});`;
        document.getElementById("title").innerText = json[0].title;
        document.getElementById("short").innerText = json[0].shortDescription;
        document.getElementById("name").innerText = json[0].userName;
        document.getElementById("date").innerText = json[0].published;
        document.getElementById("comment").innerText = json[0].comments.length;
        document.getElementById("text").innerText = json[0].description;
        createComments(json[0].comments);
        document.getElementById("btn").onclick = function () {
            let newComment = {
                id: 0,
                postId: json[0].id,
                description: document.getElementById("comments").value,
                userUpId: json[0].userUpId,
            };
            console.log("New Comment:");
            console.log(newComment);

            fetch("/api/Comments/", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(newComment)
            })
                .then(response => response.text())
                .then(text => console.log(text))
                .catch((ex) => { // обрабатываем возможную ошибку
                    console.log("Error: " + ex.message);
                    console.log("Response: " + ex.response);
                });
            document.getElementById("comments").value = "";
            fetchGetPost();
        }

    }

   
    // Выполнение запроса к серверу
    function fetchGetPost() {
        var data = sessionStorage.getItem('post');
        console.log(data);
        fetch("/api/posts/" + data) // Пошлем запрос GET (по умолчанию) по марштуру на сервер
            .then(response => response.json()) // Преобразуем ответ в json
            .then(json => renderPostList(json)) // Передадим данные в метод
            .catch((ex) => { // обрабатываем возможную ошибку
                console.log("Error: " + ex.message);
                console.log("Response: " + ex.response);
            });
    }

    fetchGetPost();

</script>
