@model MyWritingPlatform.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Добавление пользователя";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2 style="text-align:center;">Добавление пользователя</h2>
<hr />
<div class="row">
    <div class="col-md-4 offset-md-1">
        <form class="needs-validation" novalidate method="post" asp-controller="Users" asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="form-label" asp-for="Avatar"></label><br />
                <input class="form-control" name="AvatarFile" type="file" />
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="FirstName"></label><br />
                <input class="form-control" placeholder="Иван" asp-for="FirstName" required />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="LastName"></label><br />
                <input class="form-control" placeholder="Иванов" asp-for="LastName" required />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="Login"></label><br />
                <input class="form-control" placeholder="Ivan" asp-for="Login" required />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="Email"></label><br />
                <input class="form-control" placeholder="ivan@mail.com" asp-for="Email" required />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="Year"></label><br />
                <input class="form-control" placeholder="1988" asp-for="Year" required />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="Password"></label><br />
                <input class="form-control" placeholder="_Aa123456" asp-for="Password" required />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="PasswordConfirm"></label><br />
                <input class="form-control" placeholder="_Aa123456" asp-for="PasswordConfirm" required />
                <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
            </div>
            <br />
            <div>
                <input type="submit" style="border-radius:8px;" class="btn btn-primary" value="Добавить" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a style="margin-left: 20px; border-radius: 6px;" class="btn btn-info btn-sm" asp-action="Index">Back to List</a>
</div>

