
@{
    ViewData["Title"] = "Start Page User";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h1 style="text-align:center;">@ViewData["Title"]</h1>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">

        <div>
            <img src="~/image/welcome.jpg" class=" img-fluid img-thumbnail rounded mx-auto d-block" alt="Welcome" />
        </div>

    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
