@model MyWritingPlatform.Models.Post

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 style="text-align:center;">Создание публикации</h1>

<hr />
<div class="container">
    <form asp-action="CreatePost" enctype="multipart/form-data">
        <div class="row">
            <div class="col-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ImgPost" class="control-label"></label>
                    <input class="form-control" name="ImgPostFile" type="file" />
                </div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ShortDescription" class="control-label"></label>
                    <textarea asp-for="ShortDescription" class="form-control"></textarea>
                    <span asp-validation-for="ShortDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Published" class="control-label"></label>
                    <input asp-for="Published" class="form-control" />
                    <span asp-validation-for="Published" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Censor" /> @Html.DisplayNameFor(model => model.Censor)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label"></label>
                    <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Tags" class="control-label"></label>
                    <select asp-for="Tags" class="form-control" asp-items="ViewBag.Tags" multiple></select>
                </div>
            </div>
            <div class="col">
                <div class="form-group navbar-nav navbar-nav-scroll">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control" style="height: 900px"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" style="border-radius:8px;" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>

<br />
<div>
    <a style="margin-left: 40px; border-radius: 6px;" class="btn btn-info btn-sm" asp-action="IndexPost">Back to List</a>
</div>

