
@{
    ViewData["Title"] = "Start Page Admin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <img src="~/admin/dist/img/welcome_admin.png"  alt="Welcome Admin"/>
</div>

